@tailwind base;
@tailwind components;
@tailwind utilities;

/* KikaiChokokuJIS-Mdフォントの定義 */
@font-face {
  font-family: "KikaiChokokuJIS";
  src: url("/font/KikaiChokokuJIS-Md.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* フォント適用用ユーティリティクラス */
.font-kikai {
  font-family: "KikaiChokokuJIS", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
