@import './reset.css';
@import './mdDesign.css';
@import 'highlight.js/styles/github.css';

:root {
  --main-color: #333;
  --secondary-color: #6A7281;
  --link-color: #FF4B4B;
  --border-color: #e5e7eb;
  font-size: 16px;
  font-family: Inter, Arial, sans-serif;
  background-color: #fff8f4;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.2rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8rem 0;
}

h3 {
  font-size: 1.17rem;
  font-weight: 600;
  margin: 0.6rem 0;
}

p {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  line-height: 1.6;
}

a {
  color:var(--link-color);
  text-decoration: underline;
  font-size: 1rem;
  transition: 0.5s;
}

a:hover {
  transition: 0.5s;
  color: var(--secondary-color);
}

h1, h2, h3, p, a {
  letter-spacing: 0.7px;
}

pre {
  white-space: pre-wrap;
}

ul li {
  list-style: none;
  font-size: 1rem;
}
