.post-detail__content strong {
  font-weight: bold;
}

.post-detail__content h1 {
  line-height: 1.6;
}

.post-detail__content h2 {
  border-bottom: 1px solid var(--border-color);
  line-height: 1.6;
}

.post-detail__content a {
  line-height: 1.6;
}
.post-detail__content h3 {
  line-height: 1.6;
}
.post-detail__content p{
  line-height: 1.6;
}

.post-detail__content p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

.post-detail__content hr {
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}

.post-detail__content ul, ol {
  padding-left: 30px;
}

.post-detail__content ul :first-child, ol :first-child {
  margin-top: 0; 
}

.post-detail__content blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; 
}

.post-detail__content blockquote > :first-child {
  margin-top: 0; 
}

.post-detail__content blockquote > :last-child {
  margin-bottom: 0; 
}

table {
  padding: 0;border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; 
}

table tr:nth-child(2n) {
  background-color: #f6f8fa; 
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; 
}

table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; 
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0; 
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; 
}

.post-detail__content img {
  display: block;
  max-width: 70%;
  margin: 0 auto;
}


/* #F6F8FA */
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f6f8fa;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; 
}

.hljs {
  background-color: #f6f8fa !important;
}

.highlight pre {
  background-color: #f6f8fa;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; 
}

pre {
  /* box-shadow: 0 5px 20px rgb(46 53 64 / 20%), 0 1px 5px rgb(46 53 64 / 30%); */
  background-color: #f6f8fa;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; 
}

pre code, pre tt {
  background-color: transparent;
  border: none; 
}
